@import "tailwindcss";

@theme inline{
    /* Custom Fonts */
    --font-primary: var(--font-share-tech);
}

@theme {
    /* Custom Colours */
    --color-beige-100: #f8f6f3;
    --color-beige-200: #eee9e4;
    --color-beige-300: #d7cec7;
    --color-beige-400: #b8afa7;
    --color-beige-500: #9c928b;
    --color-beige-600: #3e3e3e;
    --color-beige-700: #2a2a2a;
    --color-beige-800: #1e1e1e;

    --color-purple-50: #f3e8ff;
    --color-purple-100: #e9d5ff;
    --color-purple-200: #d8b4fe;
    --color-purple-300: #A78BFA; /* accent-light */
    --color-purple-400: #7F75D9;
    --color-purple-500: #4F518C; /* accent-med */
    --color-purple-600: #3E3D6F;
    --color-purple-700: #2C2A4A; /* accent-dark */
    --color-purple-800: #1F1E34;
    --color-purple-900: #141322;

    /* Custom Breakpoints */
    --breakpoint-xs: 480px;
}

/* @layer utilities {
    .font-primary {
      font-family: var(--font-primary);
    }
} */

@layer base {
    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }

    /* input, textarea, select {
        @apply border border-gray-300 focus:outline focus:outline-sky-500;
    } */
}